In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
# upload datasets into dataframe
ed_stats_country=pd.read_csv('EdStatsCountry.csv')
ed_stats_country_series=pd.read_csv('EdStatsCountry-Series.csv')
ed_stats_data=pd.read_csv('EdStatsData.csv')
ed_stats_footNote=pd.read_csv('EdStatsFootNote.csv')
ed_stats_series=pd.read_csv('EdStatsSeries.csv')

# Define utility functions

In [3]:
# method to calculate rows number
def rows_nbr (dataframe):
    #return len(dataframe)
     return dataframe.shape[0]
    
    
# method to calculate column number
def columns_nbr(dataframe):
    return dataframe.shape[1]

# method to calculate number of missing values 
def missing_values_nbr(dataframe):
    return dataframe.isna().sum().sum()

# method to calculate the percentage of missing values
def percentage_missing_values(dataframe):
    return missing_values_nbr(dataframe)/dataframe.size

# method to find unique rows
def unique_rows_nbr(dataframe):
    return len(dataframe.drop_duplicates())

# method to calculate duplicate rows
def duplicate_rows_nbr(dataframe):
    return len(dataframe)-unique_rows_nbr(dataframe)

# method to calculate the percentage of duplicated rows
def pecentage_duplicated_rows(dataframe):
    return duplicate_rows_nbr(dataframe)/rows_nbr(dataframe)

In [4]:
# method to establish a dataframe survey
def dataframe_survey(dataframe):
    data = {'Rows number':rows_nbr (dataframe),
            'Columns number':columns_nbr(dataframe),
            'number of nans':missing_values_nbr(dataframe),
            'percentage of nans': percentage_missing_values(dataframe),
            'number of duplicate rows': duplicate_rows_nbr(dataframe),
            'percentage of duplicate rows':pecentage_duplicated_rows(dataframe)}
    data_survey = pd.DataFrame(data, index=[0])
    return data_survey

In [5]:
dataframe_survey(ed_stats_country)

,Rows number,Columns number,number of nans,percentage of nans,number of duplicate rows,percentage of duplicate rows
0,241,32,2354,0.305239,0,0.0

In [6]:
dataframe_survey(ed_stats_country_series)

,Rows number,Columns number,number of nans,percentage of nans,number of duplicate rows,percentage of duplicate rows
0,613,4,613,0.25,0,0.0

In [7]:
dataframe_survey(ed_stats_data)

,Rows number,Columns number,number of nans,percentage of nans,number of duplicate rows,percentage of duplicate rows
0,886930,70,53455179,0.860999,0,0.0

In [8]:
dataframe_survey(ed_stats_footNote)

,Rows number,Columns number,number of nans,percentage of nans,number of duplicate rows,percentage of duplicate rows
0,643638,5,643638,0.2,0,0.0

In [9]:
dataframe_survey(ed_stats_series)

,Rows number,Columns number,number of nans,percentage of nans,number of duplicate rows,percentage of duplicate rows
0,3665,21,55203,0.717248,0,0.0

In [10]:
# method to calculate the percentage of missing values in a single row
def percentage_nan_row(dataframe,index):
    count_nan = dataframe.loc[[index]].isna().sum().sum()
    return count_nan/columns_nbr(dataframe)

# method to display ordered list of the percentage of nans in all rows
def list_nan_rows(dataframe):
    percentage_nans_frame = pd.DataFrame(columns = ['percentage of nans per row'])
    for index in range (len(dataframe)):
        percentage= round(percentage_nan_row(dataframe,index)*100,2)
        percentage_nans_frame.loc[index]=percentage
    return percentage_nans_frame

In [11]:
list_nan_rows(ed_stats_country)

     percentage of nans per row
0                         43.75
1                         21.88
2                         18.75
3                         12.50
4                         53.12
..                          ...
236                       46.88
237                       15.62
238                       15.62
239                       12.50
240                       18.75

[241 rows x 1 columns]

In [52]:
# method to make a survey of dataframe columns
def variable_survey (dataframe):
    df=pd.DataFrame(columns = ['variable name', 'variable type', 'nbr of distinct values', 'percentage of distinct values'])
    for column in (dataframe.columns):
        var_type=dataframe[column].dtypes
        distinct_values=len(dataframe[column].unique())
        percentage_distinct_values=int((len(dataframe[column].unique())/len(dataframe[column]))*100)
        new_row={'variable name':column, 'variable type':var_type, 'nbr of distinct values':distinct_values,'percentage of distinct values':percentage_distinct_values}
        df=df.append(new_row, ignore_index=True)
    return df

In [97]:
variable_survey(ed_stats_data)

,variable name,variable type,nbr of distinct values,percentage of distinct values
0,Country Name,object,242,0
1,Country Code,object,242,0
2,Indicator Name,object,3665,0
3,Indicator Code,object,3665,0
4,1970,float64,24596,2
...,...,...,...,...
65,2085,float64,7336,0
66,2090,float64,7151,0
67,2095,float64,7045,0
68,2100,float64,6915,0
69,Unnamed: 69,float64,1,0

In [96]:
ed_stats_series['Topic']

0         Attainment
1         Attainment
2         Attainment
3         Attainment
4         Attainment
            ...
3660    Expenditures
3661    Expenditures
3662    Expenditures
3663    Expenditures
3664    Expenditures
Name: Topic, Length: 3665, dtype: object

In [54]:
# statistical data overview 
ed_stats_country.describe()

,National accounts reference year,Latest industrial data,Latest trade data,Unnamed: 31
count,32.00000,107.000000,185.000000,0.0
mean,2001.53125,2008.102804,2010.994595,NaN
std,5.24856,2.616834,2.569675,NaN
min,1987.00000,2000.000000,1995.000000,NaN
25%,1996.75000,2007.500000,2011.000000,NaN
50%,2002.00000,2009.000000,2012.000000,NaN
75%,2005.00000,2010.000000,2012.000000,NaN
max,2012.00000,2010.000000,2012.000000,NaN